:root {
    /*Cozy Energy Theme - Analogous/Complementary*/
    --primary-color: #DEC430;
    --secondary-color:#362E20;
    --secondary-color2:#765C40;
    --base-color: #F3EDE0;
    --base-color2: #CBC8C9;
    --text-color:#362E20;
    --text-color2: #f0f0f0;
}

.light-theme {
    --primary-color: #DEC430;
    --secondary-color:#362E20;
    --secondary-color2:#765C40;
    --base-color: #F3EDE0;
    --base-color2: #CBC8C9;
    --text-color:#362E20;
    --text-color2: #f0f0f0;
}
.dark-theme {
    --primary-color:#E5B73B;
   --secondary-color: #181818;
    --secondary-color2: #3a3f44;
    --base-color: #212529;
    --base-color2: #343a40;  
    --text-color: #f1f1f1;  
    --text-color2:#FFFFFF;  
}

.color-blind-theme {
    --primary-color: #0072B2; 
    --secondary-color: #E69F00; 
    --secondary-color2: #A26A46;
    --base-color: #F5F5F5;
    --base-color2: #CBC8C9;
    --text-color: #1C2B29;
    --text-color2: #3A3A3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color);
    margin-top:0;
    padding: 0;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 2f 2f 2f 2f 2f 2f;
    grid-auto-rows: auto;
    grid-template-areas:
        "header header header header header header"
        "title title title title title title"
        "content content content content content content"
        "footer footer footer footer footer footer"
    ;
    width: 100%;
    width: auto-fit;
    height: auto-fit;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.grid-item-1 {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", serif;
    color:var(--text-color2);
    background-color: var(--primary-color);
    padding: 10px 0px 10px 40px;
    margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;  
}

.logo img {
  width: 48px; 
  height: 48px;
  margin-right: 10px; 
}

.grid-item-1 h2{
    font-size: 1em;
}
.grid-item-1 a{
    text-decoration: none; 
    color: inherit; 
}
.grid-item-1 ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 40px;
    gap: 30px;
    font-size: 1em;
    padding-top: 7px;
}

.grid-item-1 li{
    margin-left: 20px;
}

.grid-item-1 li a{
    color: var(--text-color2);
    text-decoration: none;
}

.grid-item-1 li a:hover{
    text-decoration:underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px; 
    cursor:pointer;
}

.grid-item-1 li button{
    color: var(--text-color2);
}
.grid-item-1 li button i{
    margin-left: 10px;
}

.nav-menu {
  position: relative; 
  font-size: 1em;
}

.dropdown-button {
  background: none; 
  border: none;      
  color: inherit;    
  cursor: pointer;  
  font-size: 0.875em;   
  padding: 5px;
  display: flex;
  align-items: center;
}

/* Initially hide the dropdown menu */
.dropdown-menu {
  display: none;  
  position: absolute; 
  top: 100%; 
  right: 0;
  background-color: var(--secondary-color2);
  padding: 10px 0;
  border-radius: 5px;
  min-width: 70px; 
  z-index: 1; 
  font-size: 1em; 
}

.dropdown-menu li {
  padding: 5px 20px;
  font-size: 0.7em;
}

.dropdown-menu li button, .dropdown-menu li button:hover {
  background-color: none;
  background: none;
  border: none;
  color: var(--text-color2);
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: var(--secondary-color);
}

.arrow-up {
  transform: rotate(180deg);
}

.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.grid-item-2{
    grid-area: title;
    margin: 40px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    color: var(--text-color);
}

.grid-item-2 h2{
    font-size: 30px;
    margin-bottom: -20px;
}

.grid-item-2 p{
    font-family: Georgia, serif;
}

.grid-item-2 form{
    margin: 10px;
}

.grid-item-3{
    grid-area: content;
    text-align: justify;
    font-family: Poppins;
    margin:0 40px 200px 40px;
}

.providers{
    display: flex;
    justify-content: space-between;
    gap:20px;
    color: #181818;
    flex-wrap: wrap;
}

.providers img{
    height: 40px;
    width: 40px;
    margin: 10px;
    float: left;
}

.name-providers{
    width: 48%;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--secondary-color2);
}

.name-providers h4, p {
    margin-top: 6px;
    text-align: left;
    font-size: 0.75em;
}

.grid-item-3 h2  {
    color: var(--text-color2);
}

.price{
    float:right;
    margin: 0 10px 0 10px;
    font-weight: 500;
    color: #C41E3A;
}

.hidden {
    display: none;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-width: 230px;
    max-width: 700px;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 12px;
    border: 2px solid var(--base-color2);
    border-radius: 16px;
    width: 350px;
    font-family: Poppins;
    margin-right: -80px;
}

.search button {
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.search button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}


.grid-item-4{
   grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Poppins", serif;
    color:var(--text-color2);
    background-color: var(--secondary-color2);
    top:0;
    left: 0;
    right: 0;
    padding: 20px 40px 20px 40px; 
    
}

.logo {
  display: flex;
  align-items: center;  
}

.logo img {
  width: 48px; 
  height: 48px;
  margin-right: 10px; 
  font-size: 10px;
}
#nav a{
    color: var(--text-color2);
    text-decoration: underline;
}


@media (min-width: 768px) and (max-width: 1366px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: var(--base-color);
    margin-top:0;
    padding: 0;
    width: 100%;
    font-size: 1.125em;
}

.container {
    display: grid;
    grid-template-columns: 2f 2f 2f 2f 2f 2f;
    grid-auto-rows: auto;
    grid-template-areas:
        "header header header header header header"
        "title title title title title title"
        "content content content content content content"
        "footer footer footer footer footer footer"
    ;
    width: 100%;
    margin: 0;
    padding: 0;
}
.grid-item-3 h2{
    color: var(--text-color);
}
}

/* Small devices (mobiles) */
@media (max-width: 767px) {
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: 600;
}

p {
   font-size: 1em;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-areas:
        "header"
        "title"
        "content"
        "footer"
    ;
    padding: 0;
}

.grid-item-1{
    grid-area: header;
    padding: 21px;
    z-index: 1;
}

.logo img {
  width: 24px; 
  height: 24px;
  margin-right: 10px; 
}

.grid-item-1 h2{
    font-size: 0.75em;
    
}

.hamburger {
    display: flex;
    margin-right: 20px;
}

.nav-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--secondary-color);
    flex-direction: column;
    width: 200px;
    padding: 1em;
    display: none; 
    font-size: 1em;
}

.nav-menu.active {
    display: flex;
}

.nav-menu > ul {
    flex-direction: column;
    gap: 1em;  
}

.dropdown-menu {
    position: relative;
    width: 100%;
}

.grid-item-2{
    grid-area: title;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 90px 0 10px 20px;  
}

.grid-item-2 h2{
    font-size: 1.5em;
}

#searchForm {
    position: absolute;
    margin: -100px 0 0 70px;
    width: 250px;
    z-index: 0;
}

.search input[type="text"]{
    font-size: 0.6em;
}

.grid-item-3{
    grid-area: content;
    display: flex;
    font-size: 0.875em;
    flex-direction: column;
    font-size: 0.8em;
}
.grid-item-3 h2{
    color: var(--text-color);
}

.name-providers{
    width: 98%;
} 

.name-providers h4, h2{
    font-size: 1.2em;
}

.grid-item-4{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 0.6em;
}
#footer-logo{
    width: 35px;
}
}